 <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Visión y valores:<br></h2>
                    <p class="lead">Ser la empresa líder en servicios de geotecnia, geofísica, análisis estructural, medio ambiente y control de calidad</p>

                    <p class="lead">Nuestros valores son:
                        <ul>
                            <li>
                                El cliente es primero
                            </li>
                            <li>
                                Mejoramiento continuo
                            </li>
                            <li>
                                Respeto a las personas
                            </li>
                            <li>
                                Integridad
                            </li>
                            <li>
                                Compromiso
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <br><br><br>
                    <img class="img-responsive" src="/assets/img2.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>