<a name="services" id="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Misión:<br></h2>
                    <p class="lead">Establecer soluciones sustentables de manera de entregar un producto o servicio consistente en términos de calidad, satisfaciendo las expectativas de nuestros clientes.</p>

                    <p class="lead">
                        Brindar a nuestros clientes servicios fidedignos, de calidad y con precios competitivos.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <br><br><br>
                    <img class="img-responsive" src="/assets/img1.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>